In [1]:
import pandas as pd
import numpy as np

In [2]:
location = "datasets/DC_Properties.csv"
housing = pd.read_csv(location)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
housing.head()

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [4]:
housing.columns

Index(['Unnamed: 0', 'BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'NUM_UNITS', 'ROOMS',
       'BEDRM', 'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE', 'PRICE',
       'QUALIFIED', 'SALE_NUM', 'GBA', 'BLDG_NUM', 'STYLE', 'STRUCT', 'GRADE',
       'CNDTN', 'EXTWALL', 'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES',
       'USECODE', 'LANDAREA', 'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM',
       'LIVING_GBA', 'FULLADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID',
       'LATITUDE', 'LONGITUDE', 'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD',
       'CENSUS_TRACT', 'CENSUS_BLOCK', 'WARD', 'SQUARE', 'X', 'Y', 'QUADRANT'],
      dtype='object')

In [5]:
housing.dtypes

Unnamed: 0              int64
BATHRM                  int64
HF_BATHRM               int64
HEAT                   object
AC                     object
NUM_UNITS             float64
ROOMS                   int64
BEDRM                   int64
AYB                   float64
YR_RMDL               float64
EYB                     int64
STORIES               float64
SALEDATE               object
PRICE                 float64
QUALIFIED              object
SALE_NUM                int64
GBA                   float64
BLDG_NUM                int64
STYLE                  object
STRUCT                 object
GRADE                  object
CNDTN                  object
EXTWALL                object
ROOF                   object
INTWALL                object
KITCHENS              float64
FIREPLACES              int64
USECODE                 int64
LANDAREA                int64
GIS_LAST_MOD_DTTM      object
SOURCE                 object
CMPLX_NUM             float64
LIVING_GBA            float64
FULLADDRESS            object
CITY                   object
STATE                  object
ZIPCODE               float64
NATIONALGRID           object
LATITUDE              float64
LONGITUDE             float64
ASSESSMENT_NBHD        object
ASSESSMENT_SUBNBHD     object
CENSUS_TRACT          float64
CENSUS_BLOCK           object
WARD                   object
SQUARE                 object
X                     float64
Y                     float64
QUADRANT               object
dtype: object

In [6]:
housing.shape

(158957, 49)

In [7]:
housing.count()

Unnamed: 0            158957
BATHRM                158957
HF_BATHRM             158957
HEAT                  158957
AC                    158957
NUM_UNITS             106696
ROOMS                 158957
BEDRM                 158957
AYB                   158686
YR_RMDL                80928
EYB                   158957
STORIES               106652
SALEDATE              132187
PRICE                  98216
QUALIFIED             158957
SALE_NUM              158957
GBA                   106696
BLDG_NUM              158957
STYLE                 106696
STRUCT                106696
GRADE                 106696
CNDTN                 106696
EXTWALL               106696
ROOF                  106696
INTWALL               106696
KITCHENS              106695
FIREPLACES            158957
USECODE               158957
LANDAREA              158957
GIS_LAST_MOD_DTTM     158957
SOURCE                158957
CMPLX_NUM              52261
LIVING_GBA             52261
FULLADDRESS           106040
CITY                  106051
STATE                 106051
ZIPCODE               158956
NATIONALGRID          106051
LATITUDE              158956
LONGITUDE             158956
ASSESSMENT_NBHD       158956
ASSESSMENT_SUBNBHD    126406
CENSUS_TRACT          158956
CENSUS_BLOCK          106051
WARD                  158956
SQUARE                158957
X                     158720
Y                     158720
QUADRANT              158720
dtype: int64

In [8]:
housing.describe()

,Unnamed: 0,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y
count,158957.000000,158957.000000,158957.000000,106696.000000,158957.000000,158957.000000,158686.000000,80928.000000,158957.000000,106652.000000,...,158957.000000,158957.000000,52261.000000,52261.000000,158956.000000,158956.000000,158956.000000,158956.000000,158720.000000,158720.000000
mean,79478.000000,1.810678,0.458237,1.198039,6.187736,2.732506,1941.987579,1998.243537,1963.718024,2.091793,...,14.252999,2473.282158,2371.544249,888.834542,20012.694563,38.914854,-77.016676,5348.216324,-77.016712,38.914846
std,45887.077707,0.976396,0.587571,0.596924,2.618165,1.358864,33.640234,16.575786,24.923150,2.933323,...,3.725736,5059.046023,1114.272364,420.185822,15.627084,0.031723,0.040938,3369.645953,0.040933,0.031682
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1754.000000,20.000000,1800.000000,0.000000,...,11.000000,0.000000,1001.000000,0.000000,20001.000000,38.819731,-77.113909,100.000000,-77.113135,38.820576
25%,39739.000000,1.000000,0.000000,1.000000,4.000000,2.000000,1918.000000,1985.000000,1954.000000,2.000000,...,11.000000,697.000000,1501.000000,616.000000,20007.000000,38.895425,-77.042892,2102.000000,-77.042894,38.895432
50%,79478.000000,2.000000,0.000000,1.000000,6.000000,3.000000,1937.000000,2004.000000,1963.000000,2.000000,...,13.000000,1649.000000,2265.000000,783.000000,20011.000000,38.915337,-77.019596,5201.000000,-77.019581,38.915229
75%,119217.000000,2.000000,1.000000,1.000000,7.000000,3.000000,1960.000000,2010.000000,1975.000000,2.000000,...,17.000000,3000.000000,2910.000000,1060.000000,20018.000000,38.936075,-76.988626,8302.000000,-76.988842,38.936077
max,158956.000000,14.000000,11.000000,6.000000,48.000000,24.000000,2019.000000,2019.000000,2018.000000,826.000000,...,117.000000,942632.000000,5621.000000,8553.000000,20392.000000,38.995540,-76.909758,11100.000000,-76.910511,38.993646

In [9]:
housing_dupe = housing.duplicated()

In [10]:
housing.loc(housing_dupe)

In [11]:
housing_missing=pd.read_csv(location)
housing_missing.isnull().sum()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Unnamed: 0                 0
BATHRM                     0
HF_BATHRM                  0
HEAT                       0
AC                         0
NUM_UNITS              52261
ROOMS                      0
BEDRM                      0
AYB                      271
YR_RMDL                78029
EYB                        0
STORIES                52305
SALEDATE               26770
PRICE                  60741
QUALIFIED                  0
SALE_NUM                   0
GBA                    52261
BLDG_NUM                   0
STYLE                  52261
STRUCT                 52261
GRADE                  52261
CNDTN                  52261
EXTWALL                52261
ROOF                   52261
INTWALL                52261
KITCHENS               52262
FIREPLACES                 0
USECODE                    0
LANDAREA                   0
GIS_LAST_MOD_DTTM          0
SOURCE                     0
CMPLX_NUM             106696
LIVING_GBA            106696
FULLADDRESS            52917
CITY                   52906
STATE                  52906
ZIPCODE                    1
NATIONALGRID           52906
LATITUDE                   1
LONGITUDE                  1
ASSESSMENT_NBHD            1
ASSESSMENT_SUBNBHD     32551
CENSUS_TRACT               1
CENSUS_BLOCK           52906
WARD                       1
SQUARE                     0
X                        237
Y                        237
QUADRANT                 237
dtype: int64

In [12]:
housing_missing['PRICE']

0         1095000.0
1               NaN
2         2100000.0
3         1602000.0
4               NaN
5         1950000.0
6               NaN
7         1050000.0
8         1430000.0
9               NaN
10              NaN
11              NaN
12              NaN
13              NaN
14        1325000.0
15              NaN
16        1240000.0
17              NaN
18              NaN
19         592250.0
20          33232.0
21              NaN
22         907400.0
23        1065000.0
24        1100000.0
25          20000.0
26              NaN
27         703700.0
28              NaN
29        1210000.0
            ...
158927          NaN
158928     632400.0
158929     574000.0
158930     365000.0
158931     405000.0
158932     505000.0
158933     520000.0
158934     499900.0
158935     451000.0
158936     564900.0
158937          NaN
158938     660000.0
158939     380000.0
158940          NaN
158941          NaN
158942          NaN
158943     539000.0
158944     908500.0
158945     450000.0
158946     485355.0
158947     320000.0
158948     460000.0
158949     550000.0
158950     635000.0
158951     389000.0
158952     399900.0
158953     416000.0
158954     600000.0
158955     215100.0
158956          NaN
Name: PRICE, Length: 158957, dtype: float64

In [13]:
meanP=housing['PRICE'].mean()
stdP=housing['PRICE'].std()
topP=meanP + stdP *1.96
botP=meanP -stdP *1.96

In [14]:
print(meanP)
print(stdP) 
print(topP)
print(botP)

931351.5949336156
7061324.955612032
14771548.507933198
-12908845.318065966

In [15]:
housing.loc[housing['PRICE']>topP]

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
20164,20164,7,3,Ht Pump,Y,2.0,31,12,1805.0,2004.0,...,-77.062936,Georgetown,025 F Georgetown,100.0,000100 3003,Ward 2,1270,-77.062651,38.909990,NW
20685,20685,6,5,Warm Cool,Y,1.0,17,9,1801.0,2013.0,...,-77.056612,Georgetown,025 H Georgetown,100.0,000100 1000,Ward 2,1285,-77.056614,38.910861,NW
21880,21880,9,4,Warm Cool,Y,1.0,19,9,1805.0,2013.0,...,-77.062194,Georgetown,025 F Georgetown,100.0,000100 1002,Ward 2,1282,-77.060462,38.911769,NW
34527,34527,9,5,Forced Air,Y,2.0,25,7,1994.0,NaN,...,-77.064497,Forest Hills,NaN,1301.0,001301 2008,Ward 3,2277,-77.064798,38.954586,NW
37118,37118,11,1,Warm Cool,Y,1.0,26,7,1986.0,2014.0,...,-77.058898,Massachusetts Avenue Heights,NaN,400.0,000400 2012,Ward 3,2199,-77.058146,38.919885,NW
97155,97155,4,0,Forced Air,Y,0.0,5,0,2002.0,NaN,...,-76.971950,Randle Heights,043 B Randle Heights,7502.0,007502 1000,Ward 8,5735,-76.972211,38.861630,SE
104206,104206,0,0,No Data,0,0.0,0,0,2004.0,NaN,...,-76.996221,Congress Heights,016 C Congress Heights,9811.0,009811 2001,Ward 8,6208,-76.997729,38.827709,SE
125662,125662,1,0,Ht Pump,Y,NaN,3,1,1989.0,2005.0,...,-77.073946,Cleveland Park,NaN,1002.0,NaN,Ward 3,1819,-77.073948,38.936077,NW
125663,125663,2,0,Ht Pump,Y,NaN,4,1,1989.0,2005.0,...,-77.073946,Cleveland Park,NaN,1002.0,NaN,Ward 3,1819,-77.073948,38.936077,NW
125664,125664,2,0,Ht Pump,Y,NaN,4,2,1989.0,2005.0,...,-77.073946,Cleveland Park,NaN,1002.0,NaN,Ward 3,1819,-77.073948,38.936077,NW
125670,125670,1,0,Ht Pump,Y,NaN,3,1,1989.0,2005.0,...,-77.073946,Cleveland Park,NaN,1002.0,NaN,Ward 3,1819,-77.073948,38.936077,NW
125845,125845,1,0,Ht Pump,Y,NaN,3,1,1985.0,2005.0,...,-77.075368,Cleveland Park,NaN,1002.0,NaN,Ward 3,1821,-77.075371,38.937781,NW
125848,125848,1,1,Ht Pump,Y,NaN,3,1,1985.0,2005.0,...,-77.075368,Cleveland Park,NaN,1002.0,NaN,Ward 3,1821,-77.075371,38.937781,NW
125849,125849,1,1,Ht Pump,Y,NaN,3,1,1985.0,2005.0,...,-77.075368,Cleveland Park,NaN,1002.0,NaN,Ward 3,1821,-77.075371,38.937781,NW
125854,125854,1,0,Ht Pump,Y,NaN,3,1,1985.0,2005.0,...,-77.075368,Cleveland Park,NaN,1002.0,NaN,Ward 3,1821,-77.075371,38.937781,NW
125855,125855,1,0,Ht Pump,Y,NaN,3,1,1985.0,2005.0,...,-77.075368,Cleveland Park,NaN,1002.0,NaN,Ward 3,1821,-77.075371,38.937781,NW
125857,125857,1,1,Ht Pump,Y,NaN,3,1,1985.0,2005.0,...,-77.075368,Cleveland Park,NaN,1002.0,NaN,Ward 3,1821,-77.075371,38.937781,NW
125858,125858,1,0,Ht Pump,Y,NaN,3,1,1985.0,2005.0,...,-77.075368,Cleveland Park,NaN,1002.0,NaN,Ward 3,1821,-77.075371,38.937781,NW
125861,125861,1,0,Ht Pump,Y,NaN,3,1,1985.0,2005.0,...,-77.075368,Cleveland Park,NaN,1002.0,NaN,Ward 3,1821,-77.075371,38.937781,NW
125862,125862,1,0,Ht Pump,Y,NaN,3,1,1985.0,2005.0,...,-77.075368,Cleveland Park,NaN,1002.0,NaN,Ward 3,1821,-77.075371,38.937781,NW
125863,125863,1,0,Ht Pump,Y,NaN,3,1,1985.0,2005.0,...,-77.075368,Cleveland Park,NaN,1002.0,NaN,Ward 3,1821,-77.075371,38.937781,NW
125870,125870,1,0,Ht Pump,Y,NaN,3,1,1985.0,2005.0,...,-77.075368,Cleveland Park,NaN,1002.0,NaN,Ward 3,1821,-77.075371,38.937781,NW
125871,125871,1,0,Ht Pump,Y,NaN,3,1,1985.0,2005.0,...,-77.075368,Cleveland Park,NaN,1002.0,NaN,Ward 3,1821,-77.075371,38.937781,NW
125873,125873,1,1,Ht Pump,Y,NaN,3,1,1985.0,2005.0,...,-77.075368,Cleveland Park,NaN,1002.0,NaN,Ward 3,1821,-77.075371,38.937781,NW
125895,125895,1,0,Ht Pump,Y,NaN,3,1,1989.0,2005.0,...,-77.073946,Cleveland Park,NaN,1002.0,NaN,Ward 3,1819,-77.073948,38.936077,NW
125902,125902,1,0,Ht Pump,Y,NaN,3,1,1989.0,2005.0,...,-77.073946,Cleveland Park,NaN,1002.0,NaN,Ward 3,1819,-77.073948,38.936077,NW
125903,125903,1,0,Ht Pump,Y,NaN,3,1,1989.0,2005.0,...,-77.073946,Cleveland Park,NaN,1002.0,NaN,Ward 3,1819,-77.073948,38.936077,NW
125905,125905,2,0,Ht Pump,Y,NaN,4,2,1989.0,2005.0,...,-77.073946,Cleveland Park,NaN,1002.0,NaN,Ward 3,1819,-77.073948,38.936077,NW
125906,125906,2,0,Ht Pump,Y,NaN,4,2,1989.0,2005.0,...,-77.073946,Cleveland Park,NaN,1002.0,NaN,Ward 3,1819,-77.073948,38.936077,NW
125907,125907,1,0,Ht Pump,Y,NaN,3,1,1989.0,2005.0,...,-77.073946,Cleveland Park,NaN,1002.0,NaN,Ward 3,1819,-77.073948,38.936077,NW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134897,134897,1,0,Forced Air,Y,NaN,4,1,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134898,134898,2,0,Forced Air,Y,NaN,4,2,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134899,134899,1,0,Forced Air,Y,NaN,3,1,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134900,134900,1,0,Forced Air,Y,NaN,3,1,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134901,134901,1,0,Forced Air,Y,NaN,2,0,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134902,134902,2,0,Forced Air,Y,NaN,4,2,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134903,134903,1,0,Forced Air,Y,NaN,3,1,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134904,134904,1,0,Forced Air,Y,NaN,2,0,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134905,134905,1,0,Forced Air,Y,NaN,3,1,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134906,134906,1,0,Forced Air,Y,NaN,2,0,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134907,134907,2,0,Forced Air,Y,NaN,5,3,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134908,134908,2,0,Forced Air,Y,NaN,4,2,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134909,134909,1,0,Forced Air,Y,NaN,2,0,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134910,134910,1,0,Forced Air,Y,NaN,3,1,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134911,134911,1,0,Forced Air,Y,NaN,3,1,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134912,134912,2,0,Forced Air,Y,NaN,4,2,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134913,134913,1,0,Forced Air,Y,NaN,2,0,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134914,134914,1,0,Forced Air,Y,NaN,2,0,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134915,134915,1,0,Forced Air,Y,NaN,2,0,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134916,134916,1,0,Forced Air,Y,NaN,3,1,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134917,134917,1,0,Forced Air,Y,NaN,3,1,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134918,134918,2,0,Forced Air,Y,NaN,4,2,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134919,134919,1,0,Forced Air,Y,NaN,3,1,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134920,134920,2,0,Forced Air,Y,NaN,4,2,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134923,134923,2,0,Forced Air,Y,NaN,4,2,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134924,134924,1,0,Forced Air,Y,NaN,3,1,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134925,134925,1,0,Forced Air,Y,NaN,3,1,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134927,134927,1,0,Forced Air,Y,NaN,2,0,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134928,134928,1,0,Forced Air,Y,NaN,2,0,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW
134929,134929,1,0,Forced Air,Y,NaN,2,0,1963.0,2006.0,...,-77.031057,Central-tri 3,NaN,10100.0,NaN,Ward 2,247,-77.031060,38.904463,NW

In [16]:
housing['PRICE'].count()

98216

In [17]:
housingsmall = pd.DataFrame(data = housing, columns=['PRICE','GBA','ZIPCODE','SALEDATE','BEDRM','BATHRM','CITY','HF_BATHRM'])

In [18]:
housingsmall.count()

PRICE         98216
GBA          106696
ZIPCODE      158956
SALEDATE     132187
BEDRM        158957
BATHRM       158957
CITY         106051
HF_BATHRM    158957
dtype: int64

In [19]:
housingsmall.describe()

,PRICE,GBA,ZIPCODE,BEDRM,BATHRM,HF_BATHRM
count,9.821600e+04,106696.000000,158956.000000,158957.000000,158957.000000,158957.000000
mean,9.313516e+05,1714.539889,20012.694563,2.732506,1.810678,0.458237
std,7.061325e+06,880.677860,15.627084,1.358864,0.976396,0.587571
min,1.000000e+00,0.000000,20001.000000,0.000000,0.000000,0.000000
25%,2.400000e+05,1190.000000,20007.000000,2.000000,1.000000,0.000000
50%,3.999990e+05,1480.000000,20011.000000,3.000000,2.000000,0.000000
75%,6.520000e+05,1966.000000,20018.000000,3.000000,2.000000,1.000000
max,1.374275e+08,45384.000000,20392.000000,24.000000,14.000000,11.000000

In [20]:
housingsmall_missing=housingsmall
housingsmall_missing.isnull().sum()

PRICE        60741
GBA          52261
ZIPCODE          1
SALEDATE     26770
BEDRM            0
BATHRM           0
CITY         52906
HF_BATHRM        0
dtype: int64

In [21]:
housingsmall_missing['PRICE']

0         1095000.0
1               NaN
2         2100000.0
3         1602000.0
4               NaN
5         1950000.0
6               NaN
7         1050000.0
8         1430000.0
9               NaN
10              NaN
11              NaN
12              NaN
13              NaN
14        1325000.0
15              NaN
16        1240000.0
17              NaN
18              NaN
19         592250.0
20          33232.0
21              NaN
22         907400.0
23        1065000.0
24        1100000.0
25          20000.0
26              NaN
27         703700.0
28              NaN
29        1210000.0
            ...
158927          NaN
158928     632400.0
158929     574000.0
158930     365000.0
158931     405000.0
158932     505000.0
158933     520000.0
158934     499900.0
158935     451000.0
158936     564900.0
158937          NaN
158938     660000.0
158939     380000.0
158940          NaN
158941          NaN
158942          NaN
158943     539000.0
158944     908500.0
158945     450000.0
158946     485355.0
158947     320000.0
158948     460000.0
158949     550000.0
158950     635000.0
158951     389000.0
158952     399900.0
158953     416000.0
158954     600000.0
158955     215100.0
158956          NaN
Name: PRICE, Length: 158957, dtype: float64

In [22]:
housingsmall.groupby('ZIPCODE')

housingsmall['PRICE'].mean()

In [27]:
# average house prices by zipcode
housingsmall.groupby('ZIPCODE')["PRICE"].mean()

ZIPCODE
20001.0    5.215550e+05
20002.0    4.628894e+05
20003.0    5.992484e+05
20004.0    4.755701e+05
20005.0    2.813137e+06
20006.0    1.959069e+05
20007.0    9.794061e+05
20008.0    8.522766e+05
20009.0    6.215259e+05
20010.0    5.070154e+05
20011.0    4.259763e+05
20012.0    4.755227e+05
20015.0    7.703746e+05
20016.0    5.914537e+06
20017.0    4.087405e+05
20018.0    3.691101e+05
20019.0    2.302621e+05
20020.0    2.281464e+05
20024.0    3.808846e+05
20032.0    3.235769e+05
20036.0    4.015452e+05
20037.0    6.124601e+05
20052.0    5.378571e+05
20392.0    3.489169e+05
Name: PRICE, dtype: float64